@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}


.titulo-principal {
    font-size: 42px;
    line-height: 72px;
    text-align: left;
    margin-left: 120px;
    margin-top: 120px;
}

.subtitulo-principal {
    color: #102569;
    font-size: 24px;
    line-height: 42px;
    text-align: left;
    margin-left: 120px;
    margin-top: -15px;
}



.botoes {
    margin-left: 120px;
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.botao {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #999;
}



.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;    
  position: fixed;
  top: 20px;                  
  left: 0;
  z-index: 1000;
}

.nav-pilula {
  background: #d9d9d9;
  border-radius: 9999px;
  padding: 12px 32px;
  display: flex;
  justify-content: flex-end;  
  align-items: center;
  width: 90%;                 
  max-width: 1100px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 22px;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 700;
  opacity: 0.9;
  padding: 8px 4px;
  border-radius: 8px;
  transition: opacity .2s ease, transform .15s ease;
}

.nav-link.active {
  color: #ffffff;
  font-weight: 800;
}

.nav-link:hover {
  opacity: 1;
  transform: translateY(-1px);
}



.segundo-subtitulo {
  max-width: 1200px;
  margin-left: 120px;
  margin-top: 180px;
  padding: 0;
  box-sizing: border-box;
}

.titulo-sobre {
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  margin: 0 0 60px 0;
}

.cards-sobre {
  max-width: 1200px;
  margin: 0;
  margin-left: 90px;
  padding: 0 20px;
  margin-top: -25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 26px;
  flex-wrap: wrap;
}


.card-sobre {
  background-color: #102569;
  border: 1px solid #102569;
  border-radius: 24px;
  padding: 28px;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  gap: 18px;
  width: calc((100% - 72px) / 3);
}

.card-sobre:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.icone-sobre {
  background-color: #202b7c;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icone-sobre i {
  font-size: 46px;
  color: #ffffff;
}

.texto-sobre {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.4;
  text-align: left;
  margin: 0;
}



